<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Direcciones</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/address.css">
    <script defer src="/js/app.js"></script>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="box">
    <div class="row mt-5">
        <h1 class="title-table">Direcciones</h1>
    </div>
</div>

<div class="col mt-3 alert alert-info" role="alert" th:if="${#lists.isEmpty(addresses)}">
    Actualmente no hay ninguna dirección para mostrar.
</div>
<div class="create-opt">
    <a class="btn-club" th:href="@{/addresses/create}" th:title="|Crear una nueva dirección|"
       sec:authorize="isAuthenticated()" role="button">Crear nueva Dirección</a>
</div>

<div class="horizontal-padding vertical-padding">

    <main class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col" th:each="address: ${addresses}">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:src="@{${address.image}}" th:alt="${address.city}"/>
                        </div>
                        <div class="col-md-8  text-end">
                            <div class="card-body">
                                <h5 class="card-title">Dirección</h5>
                                <p class="card-text" th:text="${address.street}"></p>
                                <h5 class="card-title">Población</h5>
                                <p class="card-text" th:text="${address.city}"></p>
                                <h5 class="card-title">Provincia</h5>
                                <p class="card-text" th:text="${address.country}"></p>
                                <h5 class="card-title">Código Postal</h5>
                                <p class="card-text" th:text="${address.postalCode}"></p>
                            </div>
                        </div>
                    </div>
                </div>















                <footer th:class="card-footer">
                    <nav>
                        <ul class="actions-list">
                            <li>
                                <a th:title="|Ver ${address.street} ${address.city}|" th:href="@{/address/{id}(id=${address.id})}" role="button">
                                    <img width="35px" height="35px" src="/img/icons/Ver.svg" th:alt="|Ver ${address.street} ${address.city}|">
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/addresses/{id}/edit(id=${address.id})}" th:title="|Editar ${address.street} de ${address.city}|"
                                   sec:authorize="isAuthenticated()" role="button">
                                    <img width="35px" height="35px" src="/img/icons/Editar.svg" th:alt="|Editar ${address.street} de ${address.city}|">
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/addresses/{id}/delete(id=${address.id})}" th:title="|Eliminar ${address.street} de ${address.city}|"
                                   sec:authorize="isAuthenticated()" role="button">
                                    <img width="35px" height="35px" src="/img/icons/Borrar.svg" th:alt="|Eliminar ${address.street} de ${address.city}|">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </footer>
            </div>
        </div>
    </main>

    <div class="list-footer">
        Actualmente hay <span th:text="${#lists.size(addresses)}"></span> direcciones.
    </div>
    <div class="text-center mt-4">
        <a class="btn-club" th:href="@{/}" th:title="|Volver a página principal|" role="button">Inicio</a>
    </div>
</div>


<!--
<div class="col mt-3" th:if="${#lists.size(addresses) > 0}">

        <table class="list">
            <thead class="paragraphs">
            <tr>
                <th scope="col">Cine</th>
                <th scope="col">Dirección</th>
                <th scope="col">CP</th>
                <th scope="col">Ciudad</th>
                <th scope="col">País</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address: ${addresses}">
                <td>
                    <a class="btn-club" type="submit" th:text="${address.cinema.name}" th:title="|${address.cinema.name}, ${address.city}|"
                       th:href="@{/cinema/{id}(id=${address.cinema.id})}"></a>
                </td>
                <td>
                    <a class="btn-club" type="submit" th:text="${address.address}"
                       th:title="|Ver detalle de ${address.address}|" th:href="@{/address/{id}(id=${address.id})}"></a>
                </td>
                <td class="td-movile" th:text="${address.postalCode}"></td>
                <td class="td-movile" th:text="${address.city}"></td>
                <td class="td-movile" th:text="${address.country}"></td>
                <td>
                    <a class="btn-detail" type="button" th:title="|Ver detalle de ${address.address}|"
                            th:href="@{/address/{id}(id=${address.id})}" role="button">+ Info
                    </a>
                    <a class="btn-edit" type="button"
                            th:href="@{/addresses/{id}/edit(id=${address.id})}" th:title="|Editar de ${address.address}|"
                            sec:authorize="isAuthenticated()" role="button">Editar
                    </a>
                    <a class="btn-delete" type="button" th:title="|Eliminar de ${address.address}|"
                            th:href="@{/addresses/{id}/delete(id=${address.id})}"
                            sec:authorize="isAuthenticated()" role="button">Borrar
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <br>
 -->

<div th:replace="~{footer :: footer}"></div>
</body>
</html>