<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle de dirección</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-center">
    <div class="row mt-5">
        <h1 class="cinefilos-h1" th:text="${address.street}|"></h1>
        <div class="col">
        </div>
        <div th:if="${error}">
            <div class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>
            <a class="btn btn-primary" th:href="@{/addresses}" role="button">Ver direcciones</a>
        </div>
        <div class="col">
            <div class="card">
                <img th:src="@{${address.image}}" class="card-img-top" th:alt="${address.street}"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="|Ciudad: ${address.city}|"></h5>
                    <p class="card-text" th:text="|C.P.: ${address.postalCode}|"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|País: ${address.country}|"></li>
                </ul>
                <div class="card-footer">
                    <a class="btn btn-outline-primary" title="Ver direcciones"
                       th:href="@{/addresses}" role="button">Direcciones</a>
                    <a class="btn btn-outline-success" title="Editar dirección"
                       th:href="@{/addresses/{id}/edit(id=${address.id})}"
                       sec:authorize="isAuthenticated()" role="button">Editar</a>
                    <a class="btn btn-outline-danger" title="Borrar dirección"
                       th:href="@{/addresses/{id}/delete(id=${address.id})}"
                       sec:authorize="isAuthenticated()" role="button">Borrar</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>