<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle de cine</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
    <link rel="stylesheet" th:href="@{/css/contact.css}"/>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="js/app.js"></script>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="horizontal-padding vertical-padding">

    <div th:class="cinema">

        <div class="detail">
            <h1 class="detail-title" th:text="${cinema.name}"></h1>
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
                <a type="button" class="btn btn-primary" th:href="@{/cinemas}" role="button">Lista de cines</a>
            </div>

            <div class="detail-details" th:if="${error} == null">

                <div class="detail-details-group">
                    <h1 th:if="${cinema.address != null}"
                        th:text="|${cinema.address.city} de ${cinema.address.country}|"></h1>
                    <h1 th:unless="${cinema.address != null}" th:text="|Sin información|"></h1>
                    <h3 class="detail-label">Teléfono:</h3>
                    <p class="contact-label" th:text="|${cinema.phone}"></p>
                </div>
                <br>
                <div class="detail-details-group">
                    <h3 class="detail-label">CIF: </h3>
                    <p class="contact-text" th:text="|${cinema.cif}"></p>
                </div>
            </div>

            <div class="detail-img-section">
                <div class="detail-img-group">
                    <img th:src="@{${cinema.image}}" class="detail-img" th:alt="${cinema.name}"/>
                </div>
            </div>
        </div>

        <!---------------------------------- cartelera --------------------------------------------------->


        <div class="detail-listing">
            <div class="box">
                <div class="row mt-5">
                    <h1 class="listing-title" th:text="|Cartelera ${cinema.name}"></h1>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row row row g-4">
                    <div class="col" th:each="room: ${cinema.rooms}">
                        <div class="card h-100 text-bg-primary">

                            <div class="card-header">
                                <h5 class="card-title" th:text="|Sala ${room.roomNumber}|"></h5>
                            </div>

                            <img th:if="${room.film} != null" th:src="@{${room.film.poster}}" class="card-img-top"
                                 th:alt="${room.film.title}"/>
                            <img th:unless="${room.film} != null" th:src="@{/img/icons/logo.png}" class="card-img-top"/>
                            <div class="card-body">
                                <a th:title="|Ver detalle de Sala ${room.roomNumber}|"
                                   th:href="@{/room/{id}(id=${room.id})}"
                                   class="btn btn-primary">Ir a Sala</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!----------------------------- formulario de contacto ------------------------------------------->

        <div class="contact">
            <h2 class="contact-title">Contacto</h2>
            <div class="contact-details">
                <div class="contact-details-group">
                    <p class="contact-label">Dirección</p>
                    <p th:if="${cinema.address != null}" class="contact-text" th:text="${cinema.address}"></p>
                    <p th:unless="${cinema.address != null}" class="contact-text" th:text="|Sin informacion|"></p>
                </div>
                <div class="contact-details-group">
                    <p class="contact-label">Email</p>
                    <p class="contact-text" th:text="${cinema.email}"></p>
                </div>
                <div class="contact-details-group">
                    <p class="contact-text">
                        Muchas gracias por contactar con nosotros, nos pondremos en contacto con usted
                    </p>
                </div>
            </div>
            <form class="contact-form" name="contact" netlify>
                <div class="contact-form-group">
                    <label for="name">Nombre</label>
                    <input required type="text" name="name" id="name">
                </div>
                <div class="contact-form-group">
                    <label for="email">Email</label>
                    <input required type="email" name="email" id="email">
                </div>
                <div class="contact-form-group">
                    <label for="message">Mensaje</label>
                    <textarea required name="message" id="message" rows="6"></textarea>
                </div>
                <button class="contact-form-btn" type="submit">Enviar</button>
            </form>
            <nav class="social">
                <ul class="social-list">
                    <li>
                        <a href="https://twitter.com/" target="_blank" role="button">
                            <img src="/img/icons/twitter2.svg" alt="Twitter">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" role="button">
                            <img src="/img/icons/facebook2.svg" alt="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" role="button">
                            <img src="/img/icons/instagram2.svg" alt="Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank" role="button">
                            <img src="/img/icons/linkedin2.svg" alt="LinkedIn">
                        </a>
                    </li>
                </ul>
            </nav>
            <br>
            <br>
            <nav class="detail-actions">
                <ul class="detail-actions-list">
                    <li>
                        <a th:title="|Ver todos los cines|" th:href="@{/cinemas}" role="button">
                            <img th:class="actions-list-btn" src="/img/icons/cinemas.svg"
                                 th:alt="|Ir a listado de cines|">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cinemas/{id}/edit(id=${cinema.id})}" th:title="|Editar ${cinema.name}|"
                           sec:authorize="isAuthenticated()" role="button">
                            <img th:class="actions-list-btn" src="/img/icons/Editar.svg"
                                 th:alt="|Editar ${cinema.name}|">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cinemas/{id}/delete(id=${cinema.id})}" th:title="|Eliminar ${cinema.name}|"
                           sec:authorize="isAuthenticated()" role="button">
                            <img th:class="actions-list-btn" src="/img/icons/Borrar.svg"
                                 th:alt="|Eliminar detalle de ${cinema.name}|">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>