<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema Form</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="horizontal-padding vertical-padding">

    <div class="container text-center">
        <div class="col"></div>
        <div th:if="${error}">
            <div class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>
            <a type="button" class="btn btn-primary" th:href="@{/cinemas}">Volver</a>
        </div>


        <section class="contact">

            <div class="contact-title">
                <h1 class="cinefilos-h1" th:if="${cinema.id}">Modificar datos de <span th:text="${cinema.name}"></span>
                </h1>
                <h1 class="cinefilos-h1" th:if="${cinema.id} == null">Crear nuevo cine</h1>
            </div>

            <div class="contact-details">
                <button type="submit" class="contact-form-cancel" th:title="|Cancelar|" th:href="@{/cinemas}">Cancelar
                </button>
            </div>

            <div class="contact-form">
                <form th:if="${error} == null" th:action="@{/cinemas}" method="POST" th:object="${cinema}">

                    <input type="hidden" id="id" name="id" th:field="*{id}"/>

                    <div class="contact-form-group">
                        <label for="cif" class="form-label">CIF *</label>
                        <input type="text" class="form-control" id="cif" th:field="*{cif}" required>
                    </div>

                    <div class="contact-form-group">
                        <label for="image" class="form-label">Imagen</label>
                        <input type="text" class="form-control" id="image" th:field="*{image}">
                    </div>

                    <div class="contact-form-group">
                        <label for="name" class="form-label">Nombre *</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" required>
                    </div>

                    <div class="contact-form-group">
                        <label for="url" class="form-label">Url</label>
                        <input type="text" class="form-control" id="url" th:field="*{url}">
                    </div>

                    <div class="contact-form-group">
                        <label for="twitter" class="form-label">Twitter</label>
                        <input type="text" class="form-control" id="twitter" th:field="*{twitter}">
                    </div>

                    <div class="contact-form-group">
                        <label for="linkedIn" class="form-label">LinkedIn</label>
                        <input type="text" class="form-control" id="linkedIn" th:field="*{linkedIn}">
                    </div>

                    <div class="contact-form-group">
                        <label for="facebook" class="form-label">Facebook</label>
                        <input type="text" class="form-control" id="facebook" th:field="*{facebook}">
                    </div>
                    <div class="contact-form-group">
                        <label for="instagram" class="form-label">Instagram</label>
                        <input type="text" class="form-control" id="instagram" th:field="*{instagram}">
                    </div>
                    <div class="contact-form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}">
                    </div>
                    <div class="contact-form-group">
                        <label for="phone" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="phone" th:field="*{phone}">
                    </div>
                    <div class="contact-form-group">
                        <label for="address" class="form-label">Dirección *</label>
                        <input type="text" class="form-control" id="address" th:field="*{address.street}" required>
                    </div>
                    <div class="contact-form-group">
                        <label for="postalCode" class="form-label">Código Postal *</label>
                        <input type="number" class="form-control" id="postalCode" th:field="*{address.postalCode}"
                               step="1" min="1" max="999999" required>
                    </div>
                    <div class="contact-form-group">
                        <label for="city" class="form-label">Ciudad *</label>
                        <input type="text" class="form-control" id="city" th:field="*{address.city}" required>
                    </div>
                    <div class="contact-form-group">
                        <label for="country" class="form-label">País *</label>
                        <input type="text" class="form-control" id="country" th:field="*{address.country}" required>
                    </div>

                    <button type="submit" class="contact-form-btn" th:title="|Guardar|">Guardar</button>
                </form>
            </div>

            <div class="social">
                <img src="/img/icons/logo.png">
            </div>
        </section>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>