<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema Form</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-center">
    <div class="row mt-5">
        <h1 class="cinefilos-h1" th:if="${cinema.id}">Modificar datos de <span th:text="${cinema.name}"></span></h1>
        <h1 class="cinefilos-h1" th:if="${cinema.id} == null">Crear nuevo cine</h1>
        <div class="col"></div>
        <div class="col">
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
                <a type="button" class="btn btn-primary" th:href="@{/cinemas}">Volver</a>
            </div>
            <form th:if="${error} == null" th:action="@{/cinemas}" method="POST" th:object="${cinema}">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <div class="mb-4">
                    <label for="cif" class="form-label">CIF *</label>
                    <input type="text" class="form-control" id="cif" th:field="*{cif}" required>
                </div>
                <div class="mb-4">
                    <label for="image" class="form-label">Imagen</label>
                    <input type="text" class="form-control" id="image" th:field="*{image}">
                </div>
                <div class="mb-4">
                    <label for="name" class="form-label">Nombre *</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" required>
                </div>
                <div class="mb-4">
                    <label for="url" class="form-label">Url</label>
                    <input type="text" class="form-control" id="url" th:field="*{url}">
                </div>
                <div class="mb-4">
                    <label for="twitter" class="form-label">Twitter</label>
                    <input type="text" class="form-control" id="twitter" th:field="*{twitter}">
                </div>
                <div class="mb-4">
                    <label for="linkedIn" class="form-label">LinkedIn</label>
                    <input type="text" class="form-control" id="linkedIn" th:field="*{linkedIn}">
                </div>
                <div class="mb-4">
                    <label for="facebook" class="form-label">Facebook</label>
                    <input type="text" class="form-control" id="facebook" th:field="*{facebook}">
                </div>
                <div class="mb-4">
                    <label for="instagram" class="form-label">Instagram</label>
                    <input type="text" class="form-control" id="instagram" th:field="*{instagram}">
                </div>
                <div class="mb-4">
                    <label for="email" class="form-label">Correo</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}">
                </div>
                <div class="mb-4">
                    <label for="phone" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="phone" th:field="*{phone}">
                </div>

                <input type="hidden" id="address.id" name="address.id" th:field="*{address.id}"/>

                <div class="mb-4">
                    <label for="address" class="form-label">Dirección *</label>
                    <input type="text" class="form-control" id="address" th:field="*{address.street}" required>
                </div>
                <div class="mb-4">
                    <label for="postalCode" class="form-label">Código Postal *</label>
                    <input type="number" class="form-control" id="postalCode" th:field="*{address.postalCode}"
                           step="1" min="1" max="999999" required>
                </div>
                <div class="mb-4">
                    <label for="city" class="form-label">Ciudad *</label>
                    <input type="text" class="form-control" id="city" th:field="*{address.city}" required>
                </div>
                <div class="mb-4">
                    <label for="country" class="form-label">País *</label>
                    <input type="text" class="form-control" id="country" th:field="*{address.country}" required>
                </div>

                <a class="btn btn-outline-primary" th:href="@{/cinemas}">Cancelar</a>
                <button type="submit" class="btn btn-outline-success">Guardar</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>