<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usuarios</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-left">
    <div class="row mt-5">
        <h1 class="cinefilos-h1">Listado de usuarios</h1>

        <div>
            <a class="btn btn-outline-primary" th:href="@{/users/create}" sec:authorize="isAuthenticated()" role="button">Crear nuevo usuario</a>
        </div>

        <div class="col mt-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.surname}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <a class="btn btn-outline-primary" th:href="@{/user/{id}(id=${user.id})}" role="button">Ver</a>
                        <a class="btn btn-outline-success" th:href="@{/users/{id}/edit(id=${user.id})}" sec:authorize="isAuthenticated()" role="button">Editar</a>
                        <a th:if="${user.id != #authentication.getPrincipal().getId()}" class="btn btn-outline-danger" th:href="@{/users/{id}/delete(id=${user.id})}" sec:authorize="isAuthenticated()" role="button">Borrar</a>
                        <a th:unless="${user.id != #authentication.getPrincipal().getId()}" class="btn btn-outline-danger disabled" th:href="@{/users/{id}/delete(id=${user.id})}" sec:authorize="isAuthenticated()" aria-disabled="true">Borrar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-outline-success" th:href="@{/}" role="button">Volver</a>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>