<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle de usuario</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-center">
    <div class="row mt-5">
        <h1 class="cinefilos-h1" th:text="|${user.name} ${user.surname}|"></h1>
        <div class="col">
        </div>
        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert" >
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/users}" role="button">Lista de usuarios</a>
            </div>

            <div class="card">
                <img th:src="${user.image}" class="card-img-top" th:alt="|${user.name} ${user.surname}|">
                <div class="card-body">
                    <h5 class="card-title" th:text="${user.username}"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|Nombre: ${user.name}|"></li>
                    <li class="list-group-item" th:text="|Apellidos: ${user.surname}|"></li>
                    <li class="list-group-item" th:text="|Correo: ${user.email}|"></li>
                </ul>
                <div class="card-footer">
                    <a class="btn btn-outline-primary" title="Ver usuarios"
                       th:href="@{/users}" role="button">Usuarios</a>
                    <a class="btn btn-outline-success" title="Editar usuario"
                       th:href="@{/users/{id}/edit(id=${user.id})}"
                       sec:authorize="isAuthenticated()" role="button">Editar</a>
                    <a th:if="${user.id != #authentication.getPrincipal().getId()}"
                       class="btn btn-outline-danger" title="Borrar usuario"
                       th:href="@{/users/{id}/delete(id=${user.id})}" sec:authorize="isAuthenticated()" role="button">Borrar</a>
                    <a th:unless="${user.id != #authentication.getPrincipal().getId()}"
                       class="btn btn-outline-danger disabled" th:href="@{/users/{id}/delete(id=${user.id})}"
                       sec:authorize="isAuthenticated()" role="button">Borrar</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>