<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario de usuario</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="horizontal-padding vertical-padding">

    <div class="container text-center">
        <div class="col"></div>
        <div th:if="${error}">
            <div class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>
            <a type="button" class="btn btn-primary" th:href="@{/users}">Volver</a>
        </div>

        <section class="contact">

            <div class="contact-title">
                <h1 class="cinefilos-h1" th:if="${user.id}">Modificar usuario «<span th:text="${user.username}"></span>»
                </h1>
                <h1 class="cinefilos-h1" th:unless="${user.id}">Crear nuevo usuario</h1>
            </div>

            <div class="contact-details">
                <a type="button" class="contact-form-cancel" th:title="|Cancelar|" th:href="@{/users}" role="button">
                    Cancelar
                </a>
            </div>

            <div class="contact-form">
                <form th:if="${error} == null" th:action="@{/users}" method="POST" th:object="${user}">

                    <input type="hidden" id="id" name="id" th:field="*{id}"/>

                    <div class="contact-form-group">
                        <label for="image" class="form-label">Imagen</label>
                        <input type="text" class="form-control" id="image" th:field="*{image}">
                    </div>
                    <div class="contact-form-group">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>
                    <div class="contact-form-group">
                        <label for="surname" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="surname" th:field="*{surname}">
                    </div>
                    <div class="contact-form-group">
                        <label for="username" class="form-label">Usuario *</label>
                        <input type="text" class="form-control" id="username" th:field="*{username}" required>
                    </div>
                    <div class="contact-form-group">
                        <label for="email" class="form-label">Correo *</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}" required>
                    </div>
                    <div class="contact-form-group">
                        <label th:if="${user.id}" for="password" class="form-label">Cambiar contraseña (no
                            obligatorio)</label>
                        <label th:unless="${user.id}" for="password" class="form-label">Contraseña *</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}">
                    </div>
                    <button type="submit" class="contact-form-btn" th:title="|Guardar|">Guardar</button>
                </form>
            </div>

            <div class="social">
                <img src="/img/icons/logo.png">
            </div>

        </section>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>