<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Usuarios</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/user.css">
    <script defer src="/js/app.js"></script>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="box">
    <div class="row mt-5">
        <h1 class="title-table">Usuarios</h1>
    </div>
</div>
        <div class="col mt-3 alert alert-info" role="alert" th:if="${#lists.isEmpty(users)}">
            Actualmente no hay ningún usuario para mostrar.
        </div>

<div class="create-opt">
    <a class="btn-club" th:href="@{/users/create}" th:title="|Crear un nuevo usuario|"
       sec:authorize="isAuthenticated()" role="button">Crear nuevo usuario</a>
</div>


<div class="horizontal-padding vertical-padding">

        <main class="container">

            <div class="row row-cols-1 row-cols-md-3 g-2">
                <div class="card-deck" th:each="user: ${users}">
                    <div class="card">
                        <img th:src="@{${user.image}}" class="card-img-top" th:alt="${user.username}"/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="|Usuario ${user.username}|"></h5>
                            <h5 class="card-title" th:text="${user.name}"></h5>
                            <h5 class="card-title" th:text="${user.surname}"></h5>
                            <p class="card-text" th:text="${user.email}"></p>
                        </div>
                    </div>
                    <nav>
                        <ul class="actions-list">
                            <li>
                                <a th:href="@{/user/{id}(id=${user.id})}">
                                    <img width="35" height="35" src="/img/icons/Ver.svg"
                                         th:title="|Ver detalle de  ${user.username}|"
                                         th:alt="|Ver detalle de  ${user.username}|">
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/users/{id}/delete(id=${user.id})}" sec:authorize="isAuthenticated()">
                                    <img width="35" height="35" src="/img/icons/Editar.svg" th:title="|Editar  ${user.username}"
                                         th:alt="|Editar  ${user.username}|">
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/users/{id}/delete(id=${user.id})}" sec:authorize="isAuthenticated()">
                                    <img width="35" height="35" src="/img/icons/Borrar.svg"
                                         th:title="|Eliminar  ${user.username}" th:alt="|Eliminar  ${user.username}|">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </main>

        <div class="list-footer">
            Actualmente hay <span th:text="${#lists.size(users)}"></span> usuarios.
        </div>

    <div class="text-center mt-4">
        <a class="btn-club" th:href="@{/}" th:title="|Volver a página principal|" role="button">Inicio</a>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>