<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle de Director</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-center">
    <div class="row mt-5">
        <h1 class="cinefilos-h1" th:text="|«${director.title}»|"></h1>
        <div class="col">
        </div>
        <div class="col">
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert" >
                    <p th:text="${error}"></p>
                </div>
                    <a class="btn btn-primary" th:href="@{/director}" role="button">Listado de Director</a>
            </div>
            <div class="card">
                <img th:src="@{${director.poster}}" class="card-img-top" th:alt="${director.title}"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="|De: ${film.director}"></h5>
                    <p class="card-text" th:text="${director.company}"></p>
                    <p class="card-text" th:if="${director.trailer} != ''">
                        <a class="btn btn-outline-primary" role="button"
                           th:href="@{${director.trailer}}" target="_blank">Ver tráiler</a>
                    </p>
                    <p class="card-text" th:text="|Valoración: ${director.rating} de 5|"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|Director: ${director.actor}|"></li>

                </ul>
                <div class="card-footer">
                    <a class="btn btn-outline-primary" title="Ver directores"
                       th:href="@{/films}" role="button">Películas</a>
                    <a class="btn btn-outline-success" title="Editar director"
                       th:href="@{/director/{id}/edit(id=${director.id})}"
                       sec:authorize="isAuthenticated()" role="button">Editar</a>
                    <a class="btn btn-outline-danger" title="Borrar director"
                       th:href="@{/director/{id}/delete(id=${director.id})}"
                       sec:authorize="isAuthenticated()" role="button">Borrar</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>