.cinefilos-h1 {
    color: #DC143C;
    font-size: 35px;
    font-style: italic;
    font-family: "Gloss And Bloom"; arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.h1-title {
color:#DC143C;
font-size:40px;
font-weight:bold;
font-family: "Gloss And Bloom"; arial, Helvetica, sans-serif;
margin-bottom: 25px;
}














