
.cinefilos-h1 {
    color: #DC143C;
    font-size: 45px;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    font-family: 'Satisfy', cursive;
    margin-bottom: 30px;
}

.modificar {
color:#FA8072;
font-size:xxx-large;
font-weight:bold;
font-family: 'Nunito', sans-serif;
font-family: 'Satisfy', cursive;
margin-bottom: 25px;
margin-top: 25px;
}

.h1-title {
color:#8B0000;
font-size:x-large;
font-weight:bold;
font-family: 'Nunito', sans-serif;
font-family: 'Satisfy', cursive;
margin-bottom: 25px;
}

.table th {
color:#B22222;
font-size: x-large;
font-family: 'Nunito', sans-serif;
font-family: 'Satisfy', cursive;
text-align: center;
font-weight: 900;
letter-spacing:2px;
}

.table td {
color:#A52A2A
font-size:25px;
font-family: "Lucida Sans"; arial, Helvetica, sans-serif;
text-align: center;
}

.card-title {
font-size:40px;
font-family: "Lucida Sans"; arial, Helvetica, sans-serif;
text-align: center;
}

.card-text {
font-size:25px;
font-family: "Lucida Sans"; arial, Helvetica, sans-serif;
text-align: center;
}

.list-group-item {
font-size:25px;
font-family: "Lucida Sans"; arial, Helvetica, sans-serif;
text-align: center;
}

.form-label {
font-size:25px;
font-family: "Lucida Sans"; arial, Helvetica, sans-serif;
text-align: center;
}












