@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

.cinema,
.detail,
.contact {
    display: grid;
    gap: 25px;
    background-color: var(--navbar-color);
    color: var(--text-color);
    font-size: 18px;
    border-radius: 14px;
    padding: 25px;
}

.contact p,
.contact h2,
.contact ul {
    margin: 0;
    padding: 0;
}

.detail-title,
.contact-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}


.contact-details,
.contact-form {
    display: grid;
    gap: 20px;
}

.detail-details-group,
.detail-img-group,
.contact-details-group,
.contact-form-group {
    display: grid;
    gap: 3px;
}

.detail-label,
.contact-label {
    font-weight: 500;
    text-transform: uppercase;
}

.contact-form input,
.contact-form textarea {
    border: none;
    border-radius: 7px;
    height: 30px;
    padding: 5px 10px;
}

.contact-form textarea {
    height: auto;
    resize: vertical;
}

.contact-form-btn {
    width: 100%;
    height: 50px;
    background-color: var(--text-color);
    border-radius: 7px;
    color: var(--text-color-inverse);
    border: 1px solid var(--theme-color);
    cursor: pointer;
}

.contact-form-btn:hover {
    box-shadow: 0 0 14px var(--secondary-color);
    filter: brightness(150%);
}

.detail-img {
        width: 100%;
        max-width: 350px;
        transform: scaleX(-1);
}

.detail-actions-list,
.social-list {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.detail-actions-list img,
.social-list img {
    height: 25px;
}

.detail-actions-list img:hover,
.social-list img:hover {
    filter: drop-shadow(0 0 5px var(--secondary-color));
}

@media (min-width: 950px) {
.cinema,
.detail,
.contact {
        font-size: 20px;
        padding: 70px;
        margin: 0 auto;
        box-sizing: border-box;
        background-color: var(--secondary-color);
        box-shadow: 1px 1px 5px var(--primary-color);
}

.cinema {
    box-shadow: 1px 1px 5px var(--primary-color);
}

.detail-title {
        color: var(--primary-color);
        text-align: center;
        letter-spacing: 0.2em;
        text-shadow: 1px 1px 0px red, 0 0 1em, 0 0 0.2em var(--primary-color),
            2px 2px 0px hsl(33,42%,39%),
            3px 3px 0px hsl(33,42%,38%),
            4px 4px 0px hsl(33,42%,37%),
            5px 5px 0px hsl(33,42%,36%);
        font-weight:500;
        font-size: 90px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}

.detail-listing {
margin: 0 auto;
text-align: center;
align-items: center;
}

.listing-title {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 0.2em;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 1px 1px 0px hsl(33,42%,40%),
    2px 2px 0px hsl(33,42%,39%),
    3px 3px 0px hsl(33,42%,38%),
    4px 4px 0px hsl(33,42%,37%),
    5px 5px 0px hsl(33,42%,36%),
    6px 6px 0px hsl(33,42%,35%),
    7px 7px 0px hsl(33,42%,34%),
    8px 8px 0px hsl(33,42%,33%),
    9px 9px 0px hsl(33,42%,32%);
}

.card {
    border: 1px solid var(--primary-color);
}

.card-header {
    font-family: 'Noto Sans', sans-serif;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.card a {
    box-shadow: 1px 1px 5px var(--primary-color);
}

.card a:hover {
    filter: brightness(140%);
}

.detail-details-group h1 {
        color: var(--primary-color);
        text-align: center;
        text-transform: uppercase;
        font-weight:bolder;
        font-size: 40px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}

.detail-details-group h3 {
        color: var(--primary-color);
        text-align: center;
        text-transform: uppercase;
        font-weight:bold;
        font-size: 30px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}

.detail-details-group  {
        color: var(--text-color);
        text-align: center;
        text-transform: uppercase;
        font-weight:700;
        font-size: 25px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}

.contact-title {
        font-size: 45px;
        text-align: center;
        font-family: 'Yanone Kaffeesatz', sans-serif;
}

.detail-list,
    .social-list {
        justify-content: flex-start;
    }

.detail-list img,
    .social-list img {
        height: 35px;
    }

.detail-actions-list {
    gap: 100px;
}
    .detail-actions-list img {
    width: 60px;
    height: 60px;

    }

.detail-list img:hover
    .social-list img:hover {
        filter: drop-shadow(0 0 6px var(--secondary-color));
    }

.detail-title {
        grid-area: ditle;
}

.detail.listing {
       grid-area: cartelera;
}

.detail-details {
        grid-area: details;
}

.detail-img-section {
        grid-area: img;
}

.detail-actions {
        grid-area: action;
}

.contact-title {
        grid-area: title;
}

.contact-details {
        grid-area: details;
}

.contact-form {
        grid-area: form;
}

.social {
        grid-area: social;
}

.detail {
        display: grid;
        grid:
        "ditle       ditle"   auto
        "img         details" auto
         "img        details"  /
        1fr       1fr;
        align-items: start;
}

.contact {
        display: grid;
        grid:
        "title    form" auto
        "details  form" auto
        "social       form" auto
        ".       ." auto
        "action  action" auto /
        1fr       1fr;
        align-items: start;
}
}