@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

.box {
    margin: 0 auto;
    text-align: center;
    background-color: var(--theme-color);
    box-shadow: none;
}

.title-table {
    color: var(--primary-color);
    font-size: 90px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.container {
    width: 100%;
    box-sizing: border-box;
    margin: 30px auto;
    padding 0;
}

table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: var(--navbar-color);
    box-shadow: 2px 2px var(--navbar-shadow-color);
}

tr th {
    padding: 10 auto;
    height: 80px;
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--navbar-color);
    color: var(--primary-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing:2px;
    text-transform: uppercase;
    text-align: center;
}

tr td {
    padding: 10px 10px;
    height: 70px;
    border-bottom: 1px solid var(--navbar-shadow-color);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

td .accion {
    width: fit-content;
    height: min-content;
}

.btn-club,
.btn-detail,
.btn-edit,
.btn-delete,
 button {
    width: auto;
    margin-right: 5px;
    padding: 10px 10px;
    border: 2px outset var(--primary-color);
    border-radius: 0.3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.4s ease all;
}

.btn-detail {
    background: radial-gradient(#FFFFE0, rgb(83, 182, 83));
}

.btn-edit {
    background: radial-gradient(#FFFFE0, rgb(167, 147, 57));
}

.btn-delete {
    background: radial-gradient(#FFFFE0, rgb(177, 75, 75));
}

.btn-club:hover,
.btn-detail:hover,
.btn-edit:hover,
.btn-delete:hover,
button:hover,
button a:hover {
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-color);
    border: 2px inset var(--primary-color);
    filter: brightness(100%);
}

tr:hover td{
    background-color: var(--navbar-shadow-color);
    color: var(--secondary-color);
    filter: brightness(90%);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.4s ease;
}

@media ( max-width: 480px) {
     .container {
         width: 100%;
         box-sizing: border-box;
     }

     .list {
         width: 100%;
         align-content: center;
         justify-content: center;
     }

     .list tr {
         display: flex;
         flex-direction: column;
         border: 1px solid var(--primary-color);
         padding: 1em;
         margin-bottom: 1em;
     }

     .list tr:hover {
         background-color: var(--primary-color);
     }

     .paragraphs {
         display: none;
     }

     table td {
        width: auto;
        padding: 10px 10px;
     }

     .btn-club,
     .btn-detail,
     .btn-edit,
     .btn-delete {
             width: auto;
             margin: 10px 20px;
             height: 30px;
             border: 1px solid rgba(0, 0, 0, 0.801);
             border-radius: 0.6rem;
             font-family: 'Montserrat', sans-serif;
             color: var(--text-color);
             font-weight: bold;
             cursor: pointer;
             transition: 0.4s ease all;
     }

    .btn-club {
    background: radial-gradient(rgb(148, 147, 140), rgba(104, 104, 103, 0.801));
    }

     .btn-detail {
         background: radial-gradient(rgb(83, 182, 83), rgba(0, 0, 0, 0.801));
     }

     .btn-edit {
         background: radial-gradient(rgb(167, 147, 57), rgba(0, 0, 0, 0.801));
     }

     .btn-delete {
         background: radial-gradient(rgb(177, 75, 75), rgba(0, 0, 0, 0.801));
     }

     .btn-club:hover,
     .btn-detail:hover,
     .btn-edit:hover,
     .btn-delete:hover,
     button:hover,
     button a:hover {
         color: var(--text-color-inverse);
         filter: brightness(150%);
     }

     tr:hover td{
         background-color: var(--navbar-shadow-color);
         color: var(--text-color-inverse);
         font-family: 'Montserrat', sans-serif;
         font-weight: 800;
         transition: all 0.5s ease;
     }
}