<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle de cine</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-center">
    <div class="row">
        <h1>Cine Detalle</h1>
        <div class="col"></div>

        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
                <a type="button" class="btn btn-primary" th:href="@{/cinemas}">Volver</a>
            </div>

            <div class="card" th:if="${error} == null">
                <img src="https://dummyimage.com/300" class="card-img-top" alt="Cinema Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${cinema.name}"></h5>
                    <p class="card-text" th:text="${cinema.phone}"></p>
                    <p class="card-text" th:text="${cinema.address}"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|Twitter: ${cinema.twitter}|"></li>
                    <li class="list-group-item" th:text="|LinkedIn: ${cinema.linkedIn}|"></li>
                    <li class="list-group-item" th:text="|Facebook: ${cinema.facebook}|"></li>
                    <li class="list-group-item" th:text="|Instagram: ${cinema.instagram}|"></li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-primary" th:href="@{/cinemas}">Volver</a>
                    <a class="btn btn-success" th:href="@{/cinemas/{id}/edit(id=${cinema.id})}">Editar</a>
                    <button class="btn btn-danger" th:href="@{/cinemas/{id}/delete(id=${cinema.id})}">BORRAR</button>
                </div>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>