<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema List</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container text-center">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">

            <div>

                <!-- se puedeponer un icono en lugar de un boton-->

                <a class="btn btn-light" th:href="@{/cines/create}">Crear nuevo cine</a>
            </div>
            <div class="mt-2">
                <span>Filtrar por nombre: </span>
                <a class="btn btn-primary" th:href="@{/cines/name/barna}">Barcelona</a>
                <a class="btn btn-primary" th:href="@{/cines/name/madrid}">Madrid</a>
            </div>
            <div class="mt-2">
                <span>Filtrar por teléfono: </span>
                <a class="btn btn-success" th:href="@{/cines/phone/211216548}">TF, Malaga</a>
                <a class="btn btn-warning" th:href="@{/cines/phone/2154}">Tf, Sevilla</a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">CIF</th>
                    <th scope="col">Name</th>
                    <th scope="col">url</th>
                    <th scope="col">twitter</th>
                    <th scope="col">linkedint</th>
                    <th scope="col">email</th>
                    <th scope="col">phone</th>
                    <th scope="col">address</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cine : ${cines}">
                    <td th:text="${cine.id}"></td>
                    <td th:text="${cine.cif}"></td>
                    <td th:text="${cine.name}"></td>
                    <td th:text="${cine.url}"></td>
                    <td th:text="${cine.twiter}"></td>
                    <td th:text="${cine.facebook}"></td>
                    <td th:text="${cine.email}"></td>
                    <td th:text="${cine.phone}"></td>
                    <td th:text="${cine.address}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/cines/{id}(id=${cine.id})}">Ver</a>
                        <button type="button" class="btn btn-success">Editar</button>
                        <button type="button" class="btn btn-danger">Borrar</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-2">

        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>