<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle de cine</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-center">
    <div class="row mt-5">
        <h1>Detalle de cine</h1>
        <div class="col"></div>
        <div class="col">

            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>
                <a type="button" class="btn btn-primary" th:href="@{/cinemas}">Atrás</a>
            </div>

            <div class="card">
                <img src="https://dummyimage.com/300" class="card-img-top" alt="Cinema Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="|Dirección ID: ${cinema.id}|"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|Nombre: ${cinema.name}|"></li>
                    <li class="list-group-item" th:text="|Teléfono: ${cinema.phone}|"></li>
                    <li class="list-group-item" th:text="|Dirección: ${cinema.address}|"></li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-primary" th:href="@{/cinemas}">Volver</a>
                </div>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>