<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cines</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-center">
    <div class="row mt-5">
        <div>
            <a class="btn btn-light" th:href="@{/cinemas/create}">Crear nuevo cine</a>
        </div>
        <h1>Listado de cines</h1>

        <div class="col mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">CIF</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Sitio web</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cinema : ${cinemas}">
                    <td th:text="${cinema.id}"></td>
                    <td th:text="${cinema.cif}"></td>
                    <td th:text="${cinema.name}"></td>
                    <td th:text="${cinema.url}"></td>
                    <td th:text="${cinema.phone}"></td>
                    <td>
                        <a class="btn btn-light" th:text="${cinema.address.city}" th:href="@{/cinema/{id}(id=${cinema.address.id})}"></a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/cinema/{id}(id=${cinema.id})}">Ver</a>
                        <a class="btn btn-success btn-sm" th:href="@{/cinemas/{id}/edit(id=${cinema.id})}">Editar</a>
                        <a class="btn btn-danger btn-sm" th:href="@{/cinemas/{id}/delete(id=${cinema.id})}">Borrar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-primary" th:href="@{/}">Volver</a>
</div>

<div th:replace="~{footer :: footer}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>