<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="|Error ${status}|"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container mt-5">
    <h1 class="text-danger" th:text="|Error ${status}|"></h1>

    <h2 class="text-danger-emphasis my-3" th:text="${message}"></h2>

    <span lass="mt-3" th:text="|Exception: ${exception}|"></span>
