<!-- Footer -->
<footer class="bg-light text-center mt-5" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Container -->
    <div class="container p-4">

<!--        &lt;!&ndash; Section: Form &ndash;&gt;-->
<!--        <section class="">-->
<!--            <form action="">-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--                <div class="row d-flex justify-content-center">-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-auto">-->
<!--                        <p class="pt-2">-->
<!--                            <strong>Suscríbete a nuestro boletín</strong>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-md-5 col-12">-->
<!--                        &lt;!&ndash; Email input &ndash;&gt;-->
<!--                        <div class="form-outline mb-4">-->
<!--                            <input type="email" id="form5Example2" class="form-control" />-->
<!--                            <label class="form-label" for="form5Example2">Dirección de Correo</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->

<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                    <div class="col-auto">-->

<!--                        &lt;!&ndash; Submit button &ndash;&gt;-->
<!--                        <button type="submit" class="btn btn-primary mb-4">-->
<!--                            Subscribe-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;Grid column&ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;Grid row&ndash;&gt;-->
<!--            </form>-->
<!--        </section>-->
<!--        &lt;!&ndash; Section: Form &ndash;&gt;-->

        <!-- Section: Links -->
        <section class="">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Home</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a th:href="@{/}" class="text-dark">Portada</a>
                        </li>

                        <li>
                            <a th:href="@{/addresses}" class="text-dark">Direcciones</a>
                        </li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">GitHub</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a th:href="@{https://github.com/JavGuerra}" class="text-dark">Javier Guerra</a>
                        </li>

                        <li>
                            <a th:href="@{https://github.com/PedroRiRe}" class="text-dark">Pedro Rivas</a>
                        </li>

                        <li>
                            <a th:href="@{https://github.com/Eduardo474Gonzalez}" class="text-dark">Eduardo González</a>
                        </li>

                        <li>
                            <a th:href="@{https://github.com/DawidL449}" class="text-dark">Dawid L</a>
                        </li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Trello</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a th:href="@{https://trello.com/b/vV4wNJDH/javagrupo2}" class="text-dark">Javier Guerra</a>
                        </li>

                        <li>
                            <a th:href="@{https://trello.com/b/vV4wNJDH/javagrupo2}" class="text-dark">Pedro Rivas</a>
                        </li>

                        <li>
                            <a th:href="@{https://trello.com/b/vV4wNJDH/javagrupo2}" class="text-dark">Eduardo González</a>
                        </li>

                        <li>
                            <a th:href="@{https://trello.com/b/vV4wNJDH/javagrupo2}" class="text-dark">Dawid L</a>
                        </li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Login</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a th:href="@{/users}" class="text-dark">Usuarios</a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>
        <!-- Section: Links -->

        <!-- Section: Text -->
        <section class="mb-2 mt-4">
            <p>
              Proyecto realizado por el equipo de Cinéfilos.
            </p>
        </section>
        <!-- Section: Text -->

        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- Facebook -->
            <a class="btn btn-outline-light m-1"  href="https://www.facebook.com/" role="button">
                <img width="30px" height="30px" src="/img/icons/facebook2.svg" alt="Facebook"></a>
            <!-- Twitter -->
            <a class="btn btn-outline-light m-1" href="https://twitter.com/"  role="button">
                <img width="30px" height="30px" src="/img/icons/twitter2.svg" alt="Twitter"></a>
            <!-- Instagram -->
            <a class="btn btn-outline-light m-1" href="https://www.instagram.com/"  role="button">
                <img width="30px" height="30px" src="/img/icons/instagram2.svg" alt="Instagram"></a>
            <!-- Linkedin -->
            <a class="btn btn-outline-light m-1" href="https://www.linkedin.com/"  role="button">
                <img width="30px" height="30px" src="/img/icons/linkedin2.svg" alt="Linkedin"></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Container -->

    <!-- Copyright -->
    <div class="text-center p-3 bg-body">
        © 2023 Copyright:
        <a class="text-dark" th:href="@{/}">Cinéfilos.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->