<footer class="pie-pagina" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="parte1">
        <div class="footer-img">
            <figure>
                <a th:href="@{/}" th:title="|Página principal|">
                    <img src="/img/icons/logo.png"   alt="Logo Cinéfilos">
                </a>
            </figure>
        </div>
        <div class="footer-text">
            <h2>SOBRE NOSOTROS</h2>
            <P class="footer-text-group">CURSO DE DESARROLLO WEB CON JAVA - PROYECTO ERASMUS + DIGITAL SCHOOL</P>
            <P class="footer-text-group">Proyecto final del equipo de Cinéfilos · Enero-marzo 2023.</P>
        </div>
        <div class="footer-social">
            <h2 class="footer-social-title">Síguenos</h2>
            <nav class="footer-social-nav">
                <ul class="social-list">

                    <li>
                        <img class="git-img" src="https://avatars.githubusercontent.com/u/6777224?v=4" alt="JavGuerra">
                        <a href="https://github.com/JavGuerra" th:class="git-text"
                           target="_blank" class="h4 fw-bold text-primary text-decoration-none">Javier&nbsp;Guerra</a>
                    </li>
                    <li>
                        <img class="git-img" src="https://avatars.githubusercontent.com/u/119856502?v=4" alt="Eduardo474Gonzalez">
                        <a href="https://github.com/Eduardo474Gonzalez" th:class="git-text"
                           target="_blank" class="h4 fw-bold text-primary text-decoration-none">Eduardo&nbsp;González</a>
                    </li>

                    <li>
                        <img class="git-img" src="https://avatars.githubusercontent.com/u/88155167?v=4" alt="DawidL449">
                        <a href="https://github.com/DawidL449" th:class="git-text"
                           target="_blank" class="h4 fw-bold text-primary text-decoration-none">Dawid&nbsp;Lempicki</a>
                    </li>

                    <li>
                        <img class="git-img" src="https://avatars.githubusercontent.com/u/122261595?v=4" alt="PedroRiRe">
                        <a href="https://github.com/PedroRiRe" th:class="git-text"
                           target="_blank" class="h4 fw-bold text-primary text-decoration-none">Pedro&nbsp;Rivas</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="parte2">
        <small>&copy; 2023 <b>Cinéfilos</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>
