<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Footer</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
    <footer>th:fragment="footer" class="bg-dark">
        <i class="fab fa-github"></i>
        <<i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        <span class="#"><a href="">Carteleria</a> © 2023</span>
</footer>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>