<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Salas de Cine 1</title>
</head>
<body>
<table>
    <thread>
        <tr>
            <th>Sala</th>
            <th>Total de Butacas</th>
            <th>Horas</th>
            <th>Nombre de la Pelicula</th>
            <th>Plazas Personas con Discapacidad</th>
            <th>Plazas Disponibles</th>
            <th>Plazas Ocupadas</th>

        </tr>

        <tr>
        <tr>

            <td>1</td>

            <td>12</td>

            <td>17:30-21:30</td>
            <td>Pulgacito</td>
            <td>7</td>
            <td> 3 </td>
            <td> 9 </td>

        </tr>
        <td>1</td>

        <td>12</td>

        <td>17:30-21:30</td>
        <td>Pulgacito</td>
        <td>7</td>
        <td> 3 </td>
        <td> 9 </td>

        </tr>
        <td>1</td>

        <td>12</td>

        <td>17:30-21:30</td>
        <td>Pulgacito</td>
        <td>7</td>
        <td> 3 </td>
        <td> 9 </td>

        </tr>
        <td>1</td>

        <td>12</td>

        <td>17:30-21:30</td>
        <td>Pulgacito</td>
        <td>7</td>
        <td> 3 </td>
        <td> 9 </td>

        </tr>
        <td>1</td>

        <td>12</td>

        <td>17:30-21:30</td>
        <td>Pulgacito</td>
        <td>7</td>
        <td> 3 </td>
        <td> 9 </td>

        </tr>
        <td>1</td>

        <td>12</td>

        <td>17:30-21:30</td>
        <td>Pulgacito</td>
        <td>7</td>
        <td> 3 </td>
        <td> 9 </td>

        </tr>
        <td>1</td>

        <td>12</td>

        <td>17:30-21:30</td>
        <td>Pulgacito</td>
        <td>7</td>
        <td> 3 </td>
        <td> 9 </td>

        </tr>

        <td>1</td>

        <td>12</td>

        <td>17:30-21:30</td>
        <td>Pulgacito</td>
        <td>7</td>
        <td> 3 </td>
        <td> 9 </td>

        </tr>
        <td>1</td>

        <td>12</td>

        <td>17:30-21:30</td>
        <td>Pulgacito</td>
        <td>7</td>
        <td> 3 </td>
        <td> 9 </td>

        </tr>

        <td>1</td>

        <td>12</td>

        <td>17:30-21:30</td>
        <td>Pulgacito</td>
        <td>7</td>
        <td> 3 </td>
        <td> 9 </td>

        </tr>
        <td>1</td>

        <td>12</td>

        <td>17:30-21:30</td>
        <td>Pulgacito</td>
        <td>7</td>
        <td> 3 </td>
        <td> 9 </td>

        </tr>

    </thread>
</table>
</body>
</html>