<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User List</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-left">
    <div class="row">
        <h1>Listado de usuarios</h1>

        <div class="col mt-3">
            <button type="button" class="btn btn-success">Crear nuevo usuario</button>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.surname}"></td>
                    <td th:text="${user.address}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.password}"></td>
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/user/{id}(id=${user.id})}">Ver</a>
                        <button type="button" class="btn btn-success btn-sm">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm">Borrar</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>