<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Details user</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-center">
  <div class="row">
    <h1>Detalle de usuario</h1>
    <div class="col">
    </div>
    <div class="col">
      <div class="card">
        <img src="https://dummyimage.com/300" class="card-img-top" alt="User Image">
        <div class="card-body">
          <h5 class="card-title" th:text="|User ID: ${user.id}|"></h5>
          <p class="card-text" th:text="${user.name}"></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="|Surname: ${user.surname}|"></li>
          <li class="list-group-item" th:text="|Address: ${user.address}|"></li>
          <li class="list-group-item" th:text="|Email: ${user.email}|"></li>
          <li class="list-group-item" th:text="|Password: ${user.password}|"></li>
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-primary">Volver</button>
          <button type="button" class="btn btn-success">Comprar</button>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div th:replace="~{footer :: footer}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>