<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Películas de una ciudad</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-left">
    <div class="row mt-5">
        <h1>Listado de películas de <span th:text="${error} or ${warning} ? 'una ciudad' : ${city}"></span></h1>
        <div class="col mt-3">

            <div th:if="${error}" class="alert alert-danger" role="alert">
                <p th:text="${error}"></p>
            </div>

            <div th:unless="${error}">

                <div th:if="${warning}" class="alert alert-warning" role="alert">
                    <p th:text="${warning}"></p>
                </div>

                <div th:unless="${warning}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Título</th>
                            <th scope="col">Duración</th>
                            <th scope="col">Año</th>
                            <th scope="col">Director</th>
                            <th scope="col">País</th>
                            <th scope="col">Clasific.</th>
                            <th scope="col">Música</th>
                            <th scope="col">Fotografía</th>
                            <th scope="col">Guión</th>
                            <th scope="col">Compañía</th>
                            <th scope="col">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="film: ${films}">
                            <td th:text="${film.id}"></td>
                            <td th:text="${film.title}"></td>
                            <td th:text="${film.duration}"></td>
                            <td th:text="${film.year}"></td>
                            <td th:text="${film.director}"></td>
                            <td th:text="${film.country}"></td>
                            <td th:text="${film.classification}"></td>
                            <td th:text="${film.music}"></td>
                            <td th:text="${film.photography}"></td>
                            <td th:text="${film.script}"></td>
                            <td th:text="${film.company}"></td>
                            <td>
                                <a class="btn btn-primary btn-sm" th:href="@{/film/{id}(id=${film.id})}" role="button">Ver</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <a class="btn btn-primary" th:href="@{/films}" role="button">Volver</a>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>