<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle de película</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-center">
    <div class="row mt-5">
        <h1 class="cinefilos-h1" th:text="|«${film.title}»|"></h1>
        <div class="col">
        </div>
        <div class="col">
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert" >
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/films}" role="button">Listado de películas</a>
            </div>
            <div class="card">
                <img th:src="@{${film.poster}}" class="card-img-top" th:alt="${film.title}"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="|De: ${film.director}"></h5>
                    <p class="card-text" th:text="${film.company}"></p>
                    <p class="card-text" th:if="${film.trailer} != ''">
                        <a class="btn btn-outline-primary" role="button"
                           th:href="@{${film.trailer}}" target="_blank">Ver tráiler</a>
                    </p>
                    <p class="card-text" th:text="|Valoración: ${film.rating} de 5|"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="|Actores: ${film.actor}|"></li>
                    <li class="list-group-item" th:text="|Sinopsis: ${film.synopsis}|"></li>
                    <li class="list-group-item" th:text="|Clasificación: ${film.classification}|"></li>
                    <li class="list-group-item" th:text="|Género: ${film.genders}|"></li>
                    <li class="list-group-item" th:text="|Duración: ${film.duration}|"></li>
                    <li class="list-group-item" th:text="|Año: ${film.year}|"></li>
                    <li class="list-group-item" th:text="|País: ${film.country}|"></li>
                    <li class="list-group-item" th:text="|Música: ${film.music}|"></li>
                    <li class="list-group-item" th:text="|Fotografía: ${film.photography}|"></li>
                    <li class="list-group-item" th:text="|Guión: ${film.script}|"></li>
                </ul>
                <div class="card-footer">
                    <a class="btn btn-outline-primary" title="Ver películas"
                       th:href="@{/films}" role="button">Películas</a>
                    <a class="btn btn-outline-success" title="Editar película"
                       th:href="@{/films/{id}/edit(id=${film.id})}"
                       sec:authorize="isAuthenticated()" role="button">Editar</a>
                    <a class="btn btn-outline-danger" title="Borrar película"
                       th:href="@{/films/{id}/delete(id=${film.id})}"
                       sec:authorize="isAuthenticated()" role="button">Borrar</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>