<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title cinefilos-title>Películas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-left">
    <div class="row mt-5">
        <h1 class="cinefilos-h1">Listado de películas</h1>

        <form th:if="${not #lists.isEmpty(cities)}" th:action="@{/films/} + ${city}" method="GET">
            <p>Elija una ciudad:</p>
            <div class="mb-3">
                <select name="city" aria-label="Ciudades" class="form-select" th:field="*{cities}">
                    <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Listar</button>
        </form>

        <div>
            <a class="btn btn-info" th:href="@{/films/create}">Crear nueva película</a>
        </div>

        <div class="col mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Título</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Año</th>
                    <th scope="col">Director</th>
                    <th scope="col">País</th>
                    <th scope="col">Clasific.</th>
                    <th scope="col">Música</th>
                    <th scope="col">Fotografía</th>
                    <th scope="col">Guión</th>
                    <th scope="col">Compañía</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="film: ${films}">
                    <td th:text="${film.id}"></td>
                    <td th:text="${film.title}"></td>
                    <td th:text="${film.duration}"></td>
                    <td th:text="${film.year}"></td>
                    <td th:text="${film.director}"></td>
                    <td th:text="${film.country}"></td>
                    <td th:text="${film.classification}"></td>
                    <td th:text="${film.music}"></td>
                    <td th:text="${film.photography}"></td>
                    <td th:text="${film.script}"></td>
                    <td th:text="${film.company}"></td>
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/film/{id}(id=${film.id})}">Ver</a>
                        <a class="btn btn-success btn-sm" th:href="@{/films/{id}/edit(id=${film.id})}">Editar</a>
                        <a class="btn btn-danger btn-sm" th:href="@{/films/{id}/delete(id=${film.id})}">Borrar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-primary" th:href="@{/}">Volver</a>
</div>

<div th:replace="~{footer :: footer}"></div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>