<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Salas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-left">
    <div class="row mt-5">
        <h1 class="cinefilos-h1">Listado de salas</h1>

        <div class="col mt-3 alert alert-info" role="alert" th:if="${#lists.isEmpty(rooms)}">
            Actualmente no hay ninguna sala para mostrar.
        </div>
        <div class="col mt-3" th:if="${#lists.size(rooms) > 0}">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Nº sala</th>
                    <th scope="col">Cine</th>
                    <th scope="col">Película</th>
                    <th scope="col">Estreno</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rooms: ${rooms}">
                    <td th:text="${rooms.roomNumber}"></td>
                    <td th:text="${rooms.cinema}">
<!--                        <a class="btn btn-sm btn-light cinefilos-btn" th:text="${rooms.cinema.name}"-->
<!--                           role="button" th:href="@{/rooms/cinema/{id}(id=${rooms.cinema.id})}"></a>-->
                    <td th:text="${rooms.film}">
<!--                        <a class="btn btn-sm btn-light cinefilos-btn" th:text="${rooms.film.title}"-->
<!--                           role="button" th:href="@{/rooms/film/{id}(id=${rooms.film.id})}"></a>-->
                    </td>
                    <td th:text="${rooms.premiere}"></td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" title="Ver sala"
                           th:href="@{/room/{id}(id=${rooms.id})}" role="button">Ver</a>
                        <a class="btn btn-sm btn-outline-success" title="Editar sala"
                           th:href="@{/rooms/{id}/edit(id=${rooms.id})}"
                           sec:authorize="isAuthenticated()" role="button">Editar</a>
                        <a class="btn btn-sm btn-outline-danger" title="Borrar sala"
                           th:href="@{/rooms/{id}/delete(id=${rooms.id})}"
                           sec:authorize="isAuthenticated()" role="button">Borrar</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="text-center">
                Actualmente hay <span th:text="${#lists.size(rooms)}"></span> salas.
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-outline-primary" th:href="@{/rooms/create}"
           sec:authorize="isAuthenticated()" role="button">Crear nueva sala</a>
        <a class="btn btn-outline-success" th:href="@{/}" role="button">Portada</a>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>
