<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalle de la sala</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-center">
    <div class="row mt-5">
        <h1 class="cinefilos-h1" th:text="|Sala ${room.roomNumber}|"></h1>
        <div class="col">
        </div>
        <div class="col">
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert" >
                    <p th:text="${error}"></p>
                </div>
                <a class="btn btn-primary" th:href="@{/films}" role="button">Volver</a>
            </div>
            <div class="card">
                <img th:src="@{${room.film.poster}}" class="card-img-top" th:alt="${room.film.title}"/>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="btn btn-sm btn-outline-secondary"
                           th:text="${room.film.title}"
                           th:href="@{/film/{id}(id=${room.film.id})}"></a>
                    </h5>
                    <p class="card-text" th:text="|Estreno: ${room.premiere}"></p>
                    <p class="card-text" th:text="|Sesiones: ${room.schedules}|"></p>
                </div>
                <ul class="list-group list-group-flush">

             <!--   <li class="list-group-item" th:text="|Sesiones: ${#time.format(room.schedules, 'hh:mm')}|"></li>  -->

                    <li class="list-group-item" th:text="|Aforo: ${room.capacity}|"></li>
                    <li class="list-group-item">
                        <span th:if="${room.active}" class="badge text-bg-success">Disponible</span>
                        <span th:if="${room.active} == false" class="badge text-bg-danger">No disponible</span>
                    </li>
                </ul>
                <div class="card-footer">
                    <a class="btn btn-sm btn-outline-secondary mb-3" role="button"
                       th:text="${room.cinema.name}"
                       th:href="@{/cinema/{id}(id=${room.cinema.id})}">
                    </a>
                    <br />
                    <a class="btn btn-outline-primary" title="Ver salas"
                       th:href="@{/rooms}" role="button">Salas</a>
                    <a class="btn btn-outline-success" title="Editar sala"
                       th:href="@{/rooms/{id}/edit(id=${room.id})}"
                       sec:authorize="isAuthenticated()" role="button">Editar</a>
                    <button class="btn btn-outline-danger" title="Borrar sala"
                            th:href="@{/rooms/{id}/delete(id=${room.id})}"
                       sec:authorize="isAuthenticated()" role="button">Borrar</button>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>
