<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Salas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/appcinefilos.css}"/>
    <link rel="stylesheet" th:href="@{/css/list.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container text-left">
    <div class="row mt-5">
        <h1 class="cinefilos-h1">Listado de salas</h1>

        <div class="col mt-3 alert alert-info" role="alert" th:if="${#lists.isEmpty(rooms)}">
            Actualmente no hay ninguna sala para mostrar.
        </div>

        <main class="container">

            <div class="row row-cols-1 row-cols-md-5 g-2">
                <div class="card-deck" th:each="room: ${rooms}">
                    <div class="card">
                        <img th:if="${room.film != null}" th:src="@{${room.film.poster}}" class="card-img-top" th:alt="${room.film.title}"/>
                        <img th:unless="${room.film != null}" src="/img/logo.svg" class="card-img-top" th:alt="|Sin película|"/>
                        <div class="card-body">
                            <h5 class="card-title" th:text="|Sala ${room.roomNumber}|"></h5>
                            <p class="card-text" th:text="${room.cinema.name}"></p>
                            <h5 th:if="${room.film != null}" class="card-title" th:text="${room.film.title}"></h5>
                            <h5 th:unless="${room.film != null}" class="card-title" th:text="| Sin película |"></h5>
                            <p class="card-text" th:text="${room.premiere}"></p>
                        </div>
                    </div>
                    <div class="card-opt mx-auto">

                        <a  th:href="@{/room/{id}(id=${room.id})}">
                            <img width="35" height="35" src="/img/icons/Ver.svg" th:title="|Ver detalle de Sala ${room.roomNumber}|" th:alt="|Ver detalle de Sala ${room.roomNumber}|">
                        </a>

                        <a   th:href="@{/rooms/{id}/edit(id=${room.id})}" sec:authorize="isAuthenticated()">
                            <img width="35" height="35" src="/img/icons/Editar.svg" th:title="|Editar Sala ${room.roomNumber}" th:alt="|Editar Sala ${room.roomNumber}|">
                        </a>

                        <a th:href="@{/rooms/{id}/delete(id=${room.id})}" sec:authorize="isAuthenticated()">
                            <img width="35" height="35" src="/img/icons/Borrar.svg" th:title="|Eliminar Sala ${room.roomNumber}" th:alt="|Eliminar Sala ${room.roomNumber}|">
                        </a>

                    </div>
                </div>

            </div>
        </main>

            <div class="text-center">
                Actualmente hay <span th:text="${#lists.size(rooms)}"></span> salas.
            </div>
        </div>
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-outline-primary" th:href="@{/rooms/create}"
           sec:authorize="isAuthenticated()" role="button">Crear nueva sala</a>
        <a class="btn btn-outline-success" th:href="@{/}" role="button">Portada</a>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>
